<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add a product</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-searchbar [(ngModel)]="product.product_name" (ionInput)="getItems(product.product_name)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items" (click)="touchItem(item)">
        {{ item.product_name }}
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label floating>How much ?</ion-label>
      <ion-input [(ngModel)]="count" type="number"></ion-input>
    </ion-item>

    <div class="center">
      <button (click)="add()" ion-button class="primary-color">Create</button>
    </div>


  </ion-list>
</ion-content>