<!--
  Generated template for the RecipesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="recipe" (click)="viewUrl(recipe.href)" *ngFor="let recipe of recipes">
    <ion-badge class="dificulty medium">medium</ion-badge>
    <ion-badge class="time">15 min</ion-badge>
    <ion-icon class="heart" name="heart"></ion-icon>
    <img style="margin:0 auto" class="recipe-image" *ngIf="recipe.thumbnail" [src]="recipe.thumbnail"/>
    <ion-card-content>
      <ion-card-title>{{ recipe.title }}</ion-card-title>
      <p>{{ recipe.ingredients }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
