.recipe {
    position: relative;
}
.dificulty{
    background: green;
    position: absolute;
    top: 5px;
    left:5px;
}

.recipe-image {
  height: auto;
  width: auto;
}

.time{
    background: #f4eb49;
    color:#840705;
    position: absolute;
    top: 5px;
    right:5px;
}
.dificulty.medium{
    background: #f4eb49;
    color:#840705;
}
.dificulty.hard{
    background:#840705;
    color:#f4eb49;
}
.heart{
    color:#f4eb49;
    position: absolute;
    top:30px;
    right:5px;
    font-size:28px;
    background: rgba(0,0,0,0.75);
    padding:5px 10px;
    border-radius:5px;
}
