<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="center">
        <button ion-button class="secondary-color" (click)="disconnect()">Disconnect</button>
    </div>
</ion-content>
