// http://ionicframework.com/docs/theming/
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color:#fff;
}
.toolbar-background-md{
    background: #840705;
    color: #fff;
}
.toolbar-title-md{
    color:#fff;
}
.button-md.secondary-color{
    background:#f4eb49;
    color:#840705;
}
.button-md.primary-color{
    background:#840705;
    color:#f4eb49;
}
.fab-md{
    background:#840705;
    color:#f4eb49;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
