<ion-header>
  <ion-navbar>
    <ion-title>Shopping</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="shoppingLists">
    <ion-row>
      <ion-col col-6 (tap)="viewDetails(shoppingList)"  *ngFor="let shoppingList of shoppingLists">
        <div class="quote-container">
          <i class="pin"></i>
          <blockquote class="note yellow">
            <div class="shopping-list-title">{{ shoppingList.name }}</div>
            <div *ngIf="shoppingList.products">
              <div class="shopping-list-item" *ngFor="let product of shoppingList.products.slice(0, 4)">&bull; {{ product.product_name }}</div>
              <div class="shopping-list-item" *ngIf="shoppingList.products.length > 5">...</div>
            </div>

            <cite class="author">{{ shoppingList.date | date:'dd/MM/yyyy' }}</cite>
          </blockquote>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
      <button ion-fab (tap)="presentModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
