page-tabs {

}
.tabs-md .tabbar{
    background:#840705;
}
.tabs-md .tab-button[aria-selected="true"] .tab-button-icon,.tabs-md .tab-button[aria-selected="true"] .tab-button-text{
    color:#f4eb49;
}
.tabs-md .tab-button-icon, .tabs-md .tab-button-text{
    color:#fff;
}
.tabs-md .tab-button[aria-selected="true"]{
    border-bottom:2px solid #f4eb49
}