
<ion-tabs>
  <ion-tab tabIcon="pizza" tabTitle="Recipes" [root]="tab1"></ion-tab>
  <ion-tab tabIcon="barcode" tabTitle="My food" [root]="tab2"></ion-tab>
  <ion-tab tabIcon="cart" tabTitle="Shopping" [root]="tab3"></ion-tab>
  <ion-tab tabIcon="cog" tabTitle="Settings" [root]="tab4"></ion-tab>
</ion-tabs>
