page-add-shopping-list {
    .item-block.input-has-focus.item-input-has-focus .item-inner{
        border-bottom-color:#f4eb49;
        box-shadow: none;
    }
    .item-input-has-focus .label-md[stacked],.input-has-focus .label-md[stacked], .input-has-focus .label-md[floating],.item-input-has-focus .label-md[floating]{
        color:#f4eb49;   
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
        color:#f4eb49;
    }
    .button-md.primary-color{
        margin-top:30px;
    }
    
}
page-add-shopping-list .item-label-stacked .text-input-md, page-add-shopping-list .item-label-floating .text-input-md{
    color:#000!important;
}