<ion-header>

  <ion-navbar>
    <ion-buttons end>
        <button ion-button (click)="dismiss()">
          <ion-icon name="md-close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Add a shopping list</ion-title>    
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input [(ngModel)]="shoppingList.name" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Date</ion-label>
        <ion-input [(ngModel)]="shoppingList.date" type="date"></ion-input>
      </ion-item>
  
      <div class="center">
          <button (click)="add()" ion-button class="primary-color">Create</button>
      </div>
      
    
    </ion-list>
</ion-content>
