<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="background-image" padding>
  <h1>Pantree</h1>
  <div class="blur"></div> 
  
  <ion-list>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <div class="center">
        <button ion-button class="secondary-color" (click)="signIn()">Sign in</button>

        <p>OR</p>
    
        <button ion-button>Log in with Facebook</button>
    </div>
    
  
  </ion-list>
  
</ion-content>
