@import url('https://fonts.googleapis.com/css?family=Pacifico');
h1{
    font-size:78px;
    padding:50px 0 25px;
    text-align: center;
    color:#f4eb49;
    position: relative;
    z-index: 10;
    font-family: 'Pacifico', cursive;
    font-style:italic;
}
.background-image {
    background: url("../../assets/imgs/background.jpg") no-repeat 25% 50%;
    background-size:auto 100%;
}
.background-image .item-md{
    background: transparent;
}
.background-image p{
    color :#fff;
}
.item-block.input-has-focus.item-input-has-focus .item-inner{
    border-bottom-color:#f4eb49;
    box-shadow: none;
}
.item-input-has-focus .label-md[stacked],.input-has-focus .label-md[stacked], .input-has-focus .label-md[floating],.item-input-has-focus .label-md[floating]{
    color:#f4eb49;   
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    color:#f4eb49;
}
.center{
    text-align:center;
}
.background-image .center{
    margin: 40px 0;
}
.background-image .blur{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: #000;
    opacity: 0.5;
}

