page-shopping-details {
    .product .time{
        right: 15px;
        top:15px;
    }
    .button-clear-md{
        width: 48%;
        padding: 0;
        margin: 0;
    }
    .productImg{
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height:150px;
    }
    ion-card-title{
        font-size:16px!important;
        height: 45px;
        overflow: hidden;
    }
}