<!--
  Generated template for the ShoppingDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="shoppingList">{{ shoppingList.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="delete(shoppingList)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list style="margin-bottom:75px;" *ngIf="shoppingList && shoppingList.products">
    <ion-item-sliding *ngFor="let product of shoppingList.products">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="product.image_url">
        </ion-avatar>
        <ion-badge class="time">x{{product.shoppinglistproduct.count}}</ion-badge>
        <h2 style="padding:10px 0">{{ product.product_name }}</h2>
      </ion-item>
      <ion-item-options side="left">
        <button style="padding:0px 25px" ion-button color="danger" (click)="deleteProduct(product)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button style="padding:0px 25px" ion-button color="primary" (tap)="productBought(product)">
            <ion-icon name="checkmark"></ion-icon>
            Checked
        </button>
        <button style="padding:0px 25px" ion-button color="secondary" (tap)="addOne(product)" >
          <ion-icon name="add"></ion-icon>
          Add One
        </button>
        <button style="padding:0px 25px" ion-button color="primary" (tap)="keepOne(product)">
          <ion-icon name="refresh"></ion-icon>
          Reset
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
   
  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="presentModal()"><ion-icon name="add"></ion-icon></button>
      <button ion-fab (click)="scan()"><ion-icon name="barcode"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
