.product .time{
    right: 15px;
    top:15px;
}

.scroll-content {
  background-color: #FAFAFA !important;
}

.button-clear-md{
    width: 48%;
    padding: 0;
    margin: 0;
}

page-products {
  ion-card-content{
    font-size:16px!important;
    height: 66px;
    overflow: hidden;
  }
  .productImg{
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
