<ion-header>
  <ion-navbar>
    <ion-title>My food</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col class="product" col-4 no-padding *ngFor="let product of products">
        <ion-card no-padding>
          <ion-badge class="time">x{{product.userproduct.count}}</ion-badge>
          <div class="productImg" (tap)="addOne(product)" (press)="keepOne(product)" [style.backgroundImage]="'url(' + product.image_url + ')'" style="width:100%;height:110px;"></div>

          <ion-card-content text-center>
            {{product.product_name}}
          </ion-card-content>

          <button small clear ion-button icon-only (click)="addToShoppingList(product)"><ion-icon name="cart" color="secondary"></ion-icon></button>
          <button small clear ion-button icon-only (click)="delete(product)"><ion-icon name="trash" color="danger"></ion-icon></button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
      <button (click)="scan()" ion-fab><ion-icon name="barcode"></ion-icon></button>
  </ion-fab>
</ion-content>
